html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;

  min-width: 320px;

  color: #000000;
  font-family: "TTHoves", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: rem(18px);
  line-height: 26px;

  background-color: #f4efe3;
}

body.is-modal {
  height: 100vh;
  overflow-y: hidden;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
}

#overlay.active {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #bc9e5f;
  transition: all ease 0.3s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;

  list-style: none;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

// container
.wrapper,
footer {
  padding: 0 15px;
}

@media (min-width: 575.98px) {

  .wrapper,
  footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {

  .wrapper,
  footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 992.98px) {

  .wrapper,
  footer {
    padding: 0 calc(50vw - 480px);
  }
}

// @media (min-width: 992.98px) {
@media (min-width: 1198.98px) {

  .wrapper,
  footer {
    // padding: 0 calc(50vw - 480px);
    padding: 0 calc(50vw - 600px);
  }
}

@media (min-width: 1449.98px) {

  .wrapper,
  footer {
    // padding: 0 calc(50vw - 667px);
    padding: 0 calc(50vw - 725px);
  }
}