html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;

  min-width: 320px;

  color: #000000;
  font-family: "TTHoves", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: rem(18px);
  line-height: 26px;

  background-color: #f4efe3;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #bc9e5f;
}

*:hover {
  transition: all ease-in-out 0.4s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;

  list-style: none;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

// container
.wrapper,
// section,
header,
footer {
  padding: 0 15px;
}

@media (min-width: 575.98px) {

  .wrapper,
  // section,
  header,
  footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {

  .wrapper,
  // section,
  header,
  footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {

  .wrapper,
  // section,
  header,
  footer {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1339.98px) {

  .wrapper,
  // section,
  header,
  footer {
    padding: 0 calc(50vw - 660px);
  }
}