$width-xl: rem(1200px);
// $width-lg: rem(992px);
$width-lg: rem(1198px);
$width-md: rem(768px);
$width-sm: rem(576px);

$width-workspace: rem(1230px);
$width-max: rem(1920px);

$font-black: #1e1e1e;
$font-blue: #3b89d1;