.button {
  display: block;
  padding: 18px 25px;
  max-width: 310px;
  color: #545454;
  font-family: "TTHoves", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: rem(14px);
  line-height: 30px;

  text-align: center;
  text-transform: uppercase;

  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-color: transparent;
  background: linear-gradient(130.42deg, #efd182 2.82%, #ffecc1 52.08%, #e4c689 94.09%);

  @media screen and (max-width:1449px) {
    padding: 15px;
  }

  @media screen and (max-width:992px) {
    margin: 0 auto;
  }
}

.button:focus-visible {
  outline: none;
}

.button--center {
  margin: 0 auto;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(160, 148, 114, 0.25);
  transition: ease-in-out 0.3s;
}

.button--send {
  width: 100%;
}

.button--send.disabled {
  opacity: 0.5;
  cursor: auto;
}