.contacts {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 15px;

  @media screen and (max-width:1449px) {
    margin-left: 0;
    margin-top: 10px;
  }
}

.contacts__social {
  display: flex;
  align-items: center;
  margin-left: 14px;
  font-size: 0;

  svg {
    fill: #cab47c;
  }
}

.contacts__social--teleg {
  svg {
    fill: #2a9ef1;
  }
}

.contacts__social--viber {
  svg {
    fill: #665cac;
  }
}

.contacts__social--wa {
  svg {
    fill: #43d854;
  }
}

.contacts__mail {
  margin-right: 15px;
  font-size: 16px;
  line-height: 14px;

  color: #ffffff;

  opacity: 0.5;
}

.contacts__phone {
  margin-right: 11px;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;

  text-transform: uppercase;
}

.contacts__mail:hover {
  opacity: 1;
  transition: all ease-in-out 0.5s;
}

.contacts__social:hover {

  svg {
    fill: #ffffff;
    transition: all ease-in-out 0.5s;
  }
}

.nav.active .contacts__mobmenu {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  svg {
    margin: 0 12px;

    transform: scale(1.3);
  }


  @media(max-width: $width-lg) {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

.contacts__social,
.contacts__mail,
.contacts__phone {
  @media(max-width: $width-lg) {
    margin-top: 20px;
  }
}

.nav.active .nav__item {
  margin-bottom: 0;
  font-size: rem(18px);
}

.nav.active .nav__item:hover {
  color: #cfa55b;

  transition: all ease 0.3s;
}