.contacts {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 35px;
}

.contacts__social {
  display: flex;
  align-items: center;
  margin-left: 14px;
  font-size: 0;

  svg {
    fill: #cab47c;
  }
}

.contacts__mail {
  margin-right: 30px;
  font-size: 12px;
  line-height: 14px;

  color: #ffffff;

  opacity: 0.4;
}

.contacts__phone {
  margin-right: 11px;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;

  text-transform: uppercase;
}

.contacts__mail:hover {
  opacity: 1;
  transition: all ease-in-out 0.5s;
}

.contacts__social:hover {

  svg {
    fill: #ffffff;
    transition: all ease-in-out 0.5s;
  }
}

.nav.active .contacts__mobmenu {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  svg {
    margin: 0 12px;

    transform: scale(1.3);
  }

  // @keyframes show {
  //   0% {
  //     top: -250%;
  //   }

  //   100% {
  //     top: 0;
  //   }
  // }
}

.nav.active .nav__item {
  margin-bottom: 0;
  font-size: rem(18px);
}

.nav.active .nav__item:hover {
  color: #cfa55b;

  transition: all ease 0.3s;
}