.nav {
  z-index: 10;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  @media(max-width: $width-lg) {
    position: fixed;
    top: -250%;

    margin-left: 0;
    margin-right: 0;

    color: #ffffff;
    text-align: center;

    background-color: #282b3a;
  }
}

.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100%;

  border-bottom: 1px solid #caa795;

  @media screen and (max-width:1449px) {
    flex-wrap: wrap;
  }

  @media(max-width: $width-lg) {
    flex-direction: column;
  }
}

.nav.active {
  z-index: 10;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 100%;
  animation: show 0.5s 1;
}

@keyframes show {
  0% {
    top: -250%;
  }

  100% {
    top: 0;
  }
}

.nav__item {
  margin-right: 30px;

  color: #ffffff;
  font-size: rem(16px);
  line-height: 19px;

  @media screen and (max-width:1449px) {
    margin-right: 0;
  }

  @media(max-width: $width-lg) {
    padding: 15px 0;
    font-size: rem(18px);
  }
}

.nav__item--logo {
  width: 127px;

  img {
    width: 100%;
    height: auto;
  }
}


.nav.active .nav__item {
  width: 100%;
}

.nav.active .nav__item--logo {
  width: 150px;
  padding: 0;
}

.button__mobmenu {
  padding: 12px 20px;
  margin-bottom: 20px;
  color: #ffffff;

  border: 1px solid #fff;
  border-radius: 0.3rem;
}