.bg-popup {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}

.bg-popup.active {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;

  overflow-y: auto;
}

.popup-test,
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 71px 250px 81px 250px;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  transition: 0.5s all;

  border-radius: 20px;

  overflow-y: auto;

  @media screen and (max-width:1880px) {
    padding: 50px 150px 50px 150px;
  }

  @media screen and (max-width:575px) {
    padding: 10px 15px 10px 15px;
  }
}

.popup-advice,
.popup-thanks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.popup-test {
  padding: 71px 130px 81px 130px;
}

.popup-test__wrapper {
  padding: 0 115px 0 120px;

  @media screen and (max-width:1880px) {
    padding: 0 30px 0 30px;
  }
}

.popup.active {
  max-width: 1000px;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;

  @media screen and (max-width:1449px) {
    width: 100%;
  }
}

.popup-advice.active,
.popup-thanks.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;

  @media screen and (max-width:1449px) {
    width: 100%;
  }
}

.popup-test.active {
  max-width: 1000px;
  transform: translateX(-50%);
  top: auto;
  transition: 0.5s all;

  @media screen and (max-width:1449px) {
    width: 100%;
  }

  @media screen and (max-width:575px) {
    padding: 10px 15px 10px 55px;
  }
}

.bg-popup__header {
  margin-bottom: 10px;

  text-align: center;
}

.bg-popup__logo {
  margin-bottom: 48px;

  @media screen and (max-width:575px) {
    margin-bottom: 10px;
    transform: scale(0.8);
  }
}

.bg-popup__logo--advice {
  margin-bottom: 30px;

  @media screen and (max-width:575px) {
    margin-bottom: 10px;
  }
}

.bg-popup__title {
  margin-bottom: 25px;
  color: #000000;
  font-weight: 500;
  text-align: center;

  @media screen and (max-width:575px) {
    margin-bottom: 15px;
  }
}

// 
.close-btn,
.close-popup {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;

  @media screen and (max-width:575px) {
    top: 20px;
    right: 20px;
  }
}

.close-btn:hover,
.close-popup:hover {
  transform: rotate(270deg);
  transition: ease-in-out 0.8s;

  cursor: pointer;
}

.popup__text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #cfd0d3;
  margin-bottom: 5px;
}

.bg-popup__field {
  padding: 15px 0 15px 45px;

  height: 45px;
  width: 100%;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #e4dfd5;

  outline: none;
}

.bg-popup__row {
  position: relative;
  margin-bottom: 35px;
}

.bg-popup__icon {
  position: absolute;
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.bg-popup__field::placeholder {
  color: #9a9a9a;
  line-height: 55px;
}

.popup-test button,
.popup button {
  margin-bottom: 10px;
  max-width: unset;
  width: 100%;
}

.popup-btn {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.popup-btn:hover {
  background: #fff;
  color: #2982ff;
  transition: 0.5s all;
}

// 
.bg-popup__agreement {
  position: relative;
  display: block;
  padding-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;

  font-size: 12px;
  line-height: 16px;

  color: #a3a3a3;
}

.bg-popup__link {
  color: #ad9373;
  text-decoration: underline;
}

.bg-popup__link:hover {
  color: rgba($color: #ffaabf, $alpha: 1.0);
}

.bg-popup__agreement:hover {
  cursor: pointer;
}

.bg-popup__agreement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;

  background-color: transparent;
  border: 1px solid #c9ae8f;
}

.bg-popup__agr,
.popup-test__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.bg-popup__agr:checked+label::before {
  background: url("../img/icons/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 60% 70%;
  background-size: 90%;
}

// ------------------------------------------
.popup-test__radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.popup-test__radio+label::before {
  content: '';
  display: inline-block;
  margin-right: 20px;
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  flex-grow: 0;
  background: url("../img/icons/icon-input-radio.svg");
  background-repeat: no-repeat;
  background-position: center center;

  @media screen and (max-width:575px) {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-size: contain;
  }
}

.popup-test__radio:not(:disabled):not(:checked)+label:hover::before {
  opacity: 0.5;
}

.popup-test__radio:not(:disabled):active+label::before {
  background: #d9b568;
  border-radius: 50%;
}

.popup-test__radio:focus+label::before {
  box-shadow: #d9b568;
}

.popup-test__radio:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.popup-test__radio:checked+label::before {
  background: #d9b568;
  box-shadow: inset 0 0 0 10px #ffffff, 0 0 0 1px #ddab3f;
  border-radius: 50%;
}

// -----------------------------------------------
.popup-test__quest {
  margin-bottom: 20px;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;

  @media screen and (max-width:575px) {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 10px;
  }
}

.popup-test__radio {
  margin-right: 20px;
  width: 54px;

  @media screen and (max-width:575px) {
    width: 20px;
  }
}

.popup-test__inner {
  display: flex;
  align-items: center;
}

.popup-test__block {
  margin-right: 30px;
  margin-bottom: 35px;
  max-width: 290px;

  @media screen and (max-width:575px) {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

.popup-test__block label {
  display: flex;
  align-items: center;
}

.popup-test__block:hover label {
  cursor: pointer;
}

.popup-test__list {
  margin-bottom: 130px;
  margin-right: -100px;

  @media screen and (max-width:575px) {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.popup-test__item::before {
  position: absolute;
  content: "";
  left: 0;
  width: 90px;
  height: 83px;

  background: url("../img/bg/bg-test-01.webp") no-repeat 50% 50%;

  @media screen and (max-width:575px) {
    width: 50px;
    height: 43px;
    background-size: contain;
  }
}

.popup-test__num {
  display: block;
  position: absolute;
  left: 24px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;

  @media screen and (max-width:575px) {
    left: 10px;
    margin-top: 7px;
    font-size: 24px;
    line-height: 100%;
  }
}

.popup-test__inner {
  display: flex;
  flex-wrap: wrap;
}

// popup-thanks
.popup-thanks {
  position: relative;
  padding-top: 150px;
  padding-bottom: 465px;
  max-width: 590px;

  border-radius: 20px;

  background: url("../img/bg/bg-popup-thanks.webp") no-repeat;
  background-position: bottom;
  background-color: #ffffff;

  @media screen and (max-width:575px) {
    padding-top: 50px;
    padding-bottom: 365px;
    max-width: 100%;
  }
}

.popup-thanks::before {
  position: absolute;
  content: "";
  width: 54px;
  height: 54px;
  margin: auto;
  left: 0;
  right: 0;
  top: -700px;
  bottom: 0;
  border-radius: 50%;
  background: url("../img/bg/bg-advantages-yes.webp") no-repeat 50% 50%;

  @media screen and (max-width:575px) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
}

.popup-thanks__title {
  margin-bottom: 30px;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.popup-thanks__text {
  padding: 0 70px;
  color: #000000;
  font-family: "BerlingskeSerif", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: rem(24px);
  line-height: 36px;

  text-align: center;

  @media screen and (max-width:575px) {
    padding: 0 15px;
    font-size: rem(18px);
    line-height: 130%;
  }
}

// END popup-thanks

// popup-advice
.popup-advice {
  padding: 50px 70px 0 70px;
  max-width: 600px;
  min-height: 100%;

  background: url("../img/bg/bg-popup-advice.webp") no-repeat bottom;
  background-color: #18273f;

  @media screen and (max-width:575px) {
    padding: 30px 15px 0 15px;
  }
}

.bg-popup__logo--advice {
  text-align: center;
}

.popup-advice__title {
  margin: 35px auto;
  font-weight: 500;
  font-size: rem(36px);
  line-height: 55px;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #e7cd95;

  @media screen and (max-width:575px) {
    margin: 15px auto;
    font-size: rem(24px);
    line-height: 130%;
  }
}

.popup-advice__result {
  font-weight: 600;
  font-size: rem(20px);
  line-height: 30px;

  text-align: center;
}

.popup-advice__result--red {
  color: #ff8686;
}

.popup-advice__result--yellow {
  color: #f2ce50;
}

.popup-advice__result--green {
  color: #45d053;
}

.popup-advice__text {
  margin: 22px 0 42px 0;
  color: #ffffff;
  font-size: rem(18px);
  line-height: 30px;

  text-align: center;
}

.popup-advice__bnt {
  margin: 0 auto;
}

// END popup-advice