.title {
  color: #454545;
  font-size: rem(48px);
  font-weight: 400;
  line-height: 50px;

  @media screen and (max-width:1449px) {
    font-size: rem(32px);
    line-height: 120%;
  }

  @media screen and (max-width:575px) {
    font-size: rem(28px);
  }
}

.title--500 {
  font-weight: 500;
}

.title span {
  color: #e9ce95;
  font-weight: 600;

  @media screen and (max-width:575px) {
    font-size: rem(28px);
  }
}

.title--main {
  color: #ffffff;

  margin-bottom: 30px;
  font-size: rem(90px);
  line-height: 90px;

  @media screen and (max-width:1449px) {
    margin-bottom: 20px;
    font-size: rem(60px);
    line-height: 60px;
  }

  @media screen and (max-width:992px) {
    font-size: rem(42px);
    line-height: 120%;
  }
}

.subtitle {
  font-weight: 400;
  font-size: rem(24px);
  line-height: 36px;

  @media screen and (max-width:1449px) {
    font-size: rem(22px);
    line-height: 120%;
  }
}

.subtitle--main {
  padding: 0 170px 0 0;
  margin-bottom: 44px;
  color: #fce6b2;

  @media screen and (max-width:1449px) {
    padding: 0 70px 0 0;
    margin-bottom: 50px;
  }

  @media screen and (max-width:992px) {
    padding: 0;
    margin-bottom: 30px;
  }
}