.title {
  color: #454545;
  font-size: rem(48px);
  font-weight: 400;
  line-height: 50px;
}

.title--500 {
  font-weight: 500;
}

.title span {
  color: #e9ce95;
  font-weight: 600;
}

.title--main {
  color: #ffffff;

  margin-bottom: 30px;
  font-size: rem(90px);
  line-height: 90px;
}

.subtitle {
  font-weight: 400;
  font-size: rem(24px);
  line-height: 36px;
}

.subtitle--main {
  padding: 0 170px 0 0;
  margin-bottom: 44px;
  color: #fce6b2;
}