.footer {
  padding: 30px 0 30px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  max-width: 257px;
  color: #9a9a9a;
  font-weight: 300;
  font-size: rem(14px);
  line-height: 18px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18px;
}


.footer__item {
  margin: 0 7px;
  font-size: 0;
}

.footer__advice {
  display: inline-block;
  margin-bottom: 14px;
  color: #454545;
  font-weight: 300;
  font-size: rem(18px);
  line-height: 64px;

  text-decoration-line: underline;
}