.header {
  z-index: 15;
  position: fixed;
  padding-top: 16px;
  width: 100%;

  background: url("../img/bg/bg-header-01.webp") top center;
  background-color: #18273f;

  @media screen and (max-width:1198px) {
    min-height: 70px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}