// intro
.intro {
  padding-bottom: 100px;

  min-height: 992px;

  background: url("../img/bg/bg-intro-01.webp") no-repeat top;
  background-color: #18273f;

  // @media screen and (max-width:1449px) {
  @media screen and (max-width:1198px) {
    padding-bottom: 30px;
  }
}

.intro__wrapper {
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 222px;
  margin-bottom: 219px;

  // @media screen and (max-width:1449px) {
  @media screen and (max-width:1198px) {
    padding-top: 150px;
    margin-bottom: 15px;
    flex-direction: column;
    width: 50%;
  }

  @media screen and (max-width:992px) {
    padding-top: 90px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
  }
}

.intro__img {
  z-index: 0;
  position: absolute;
  top: 116px;
  left: 316px;
  width: 100%;
  height: 100%;

  @media screen and (max-width:1449px) {

    left: 185px;
    top: 171px;
    height: auto;
  }

  @media screen and (max-width:992px) {
    left: 70px;
    top: 90px;
    height: auto;
    transform: scale(0.7);
  }

  @media screen and (max-width:767px) {
    left: -7px;
    top: 58px;
    height: auto;
    transform: scale(0.55);
  }

  @media screen and (max-width:575px) {
    left: -92px;
    // top: 295px;
    top: 402px;
    transform: scale(0.45);
  }

  @media screen and (max-width:469px) {
    left: -112px;
    // top: 350px;
    top: 452px;
  }

  @media screen and (max-width:377px) {
    left: -139px;
    top: 477px;
  }
}

.intro__inner {
  z-index: 5;
  flex-basis: 48%;

  // @media screen and (max-width:1449px) {
  @media screen and (max-width:1198px) {
    flex-basis: auto;
  }

  @media screen and (max-width:992px) {
    text-align: center;
    width: 100%;
  }
}

.intro__btn {

  // @media screen and (max-width:1449px) {
  @media screen and (max-width:1198px) {
    position: absolute;
    bottom: 0;
    left: 40px;
  }

  @media screen and (max-width:992px) {
    left: 0;
  }

  @media screen and (max-width:575px) {
    position: relative;

    margin-bottom: 30px;
    // right: 0;
  }
}

.intro__blockquote {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -80px;

  flex-basis: 26%;

  text-align: center;

  color: #ffffff;
  font-family: "BerlingskeSerif", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: rem(18px);
  line-height: 30px;

  background: url("../img/bg/bg-intro__blockquote.webp") no-repeat 50% 50%;

  span {
    color: #e7ca8f;
  }

  @media screen and (max-width:1449px) {
    padding: 110px 0;
    margin-top: 0;
    flex-basis: unset;
    max-width: 345px;
    width: 100%;
    background-size: contain;
    // margin-bottom: 85px;
    margin-bottom: 48px;
  }

  @media screen and (max-width:992px) {
    align-self: baseline;
    padding: 120px 0;
    width: 277px;
    max-width: unset;
  }

  @media screen and (max-width:767px) {
    padding: 50px 0;
    margin-bottom: 80px;
  }

  @media screen and (max-width:575px) {
    // margin-bottom: 385px;
    margin-bottom: 320px;
    align-self: center;
  }
}

.intro__blockquote p {
  width: 250px;

  // @media screen and (max-width:1198px) {
  //   padding: 0 10px;
  // }

  @media screen and (max-width:992px) {
    font-size: rem(14px);
  }

  @media screen and (max-width:767px) {
    width: 200px;
  }
}

.intro__list {
  position: relative;
  z-index: 5;
  display: flex;

  padding: 52px 0 64px 39px;

  background: #f4efe3;
  box-shadow: 0 4px 120px rgba(160, 148, 114, 0.25);
  border-radius: 6px;

  @media screen and (max-width:1449px) {
    padding: 30px 0 20px 30px;
  }

  @media screen and (max-width:992px) {
    flex-direction: column;
    width: 100%;
  }
}

.intro__title {
  position: relative;
  color: #d1baae;
  font-weight: 500;
  font-size: rem(48px);
  line-height: 30px;
}

.intro__title::after {
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  top: 19px;
  left: 36px;

  background: url("../img/bg/bg-intro-02.webp") no-repeat 50% 50%;
}

.intro__paragraph {
  padding-left: 95px;
  padding-right: 30px;
  margin-top: -5px;

  @media screen and (max-width:992px) {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 42px;
    margin-bottom: 21px;
  }
}

.intro__paragraph span {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 500;
}

// END intro

// vid
.vid {
  position: relative;
  padding-bottom: 130px;
  text-align: center;

  background: url("../img/bg/bg-vid-01.webp") no-repeat top;
  background-color: #18273f;

  @media screen and (max-width:1449px) {
    padding-bottom: 65px;
  }

  @media screen and (max-width:992px) {
    padding-bottom: 30px;
  }
}

.vid__title {
  padding: 0 145px;
  margin-bottom: 41px;

  color: #ffffff;
  text-align: center;

  @media screen and (max-width:1449px) {
    margin-bottom: 30px;
  }

  @media screen and (max-width:992px) {
    padding: 0;
    margin-bottom: 20px;
  }
}

.vid__bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-bottom: 60px;

  width: 1164px;
  height: 555px;

  background: url("../img/bg/vid-border.webp") no-repeat 50% 50%;
  box-shadow: 0px 4px 100px rgba(167, 160, 149, 0.2);
  border-radius: 30px;

  @media screen and (max-width:1449px) {
    margin-bottom: 40px;
    width: auto;
    height: auto;
  }

  @media screen and (max-width:992px) {
    margin-bottom: 30px;
  }
}

.vid__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  overflow: hidden;
}

.vid__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1154px;
  height: 555px;
  outline-width: 0;

  border: 6px solid #ab9971;
  border-radius: 30px;

  @media screen and (max-width:1449px) {
    width: 100%;
    height: 100%;
  }
}

.vid__poster {
  z-index: 5;
  width: 1150px;
  height: 550px;

  border: 6px solid #ab9971;
  border-radius: 30px;
  box-shadow: 0px 4px 100px rgba(167, 160, 149, 0.2);

  @media screen and (max-width:1449px) {
    width: 100%;
    height: 100%;
  }
}

.vid__text {
  z-index: 5;
  position: absolute;
  bottom: 85px;
  padding: 0 350px;
  color: #ffffff;

  span {
    font-weight: 600;
    color: #f5d37e;
  }

  @media screen and (max-width:1449px) {
    bottom: 30px;
    padding: 0 150px;
  }

  @media screen and (max-width:992px) {
    padding: 0 15px;
  }

  @media screen and (max-width:575px) {
    display: none;
  }
}

.vid__playbtn {
  z-index: 10;
  position: absolute;

  border-radius: 50%;
  box-shadow: 0px 4px 100px rgba(167, 160, 149, 0.2);

  @media screen and (max-width:1449px) {
    transform: scale(0.8);
  }

  @media screen and (max-width:992px) {
    transform: scale(0.6);
  }

  @media screen and (max-width:575px) {
    transform: scale(0.5);
  }
}

.vid__playbtn.played,
.vid__text.played,
.vid__poster.played {
  z-index: -1;
}

.vid__playbtn:hover {
  transform: rotate(235deg);
  transition: ease-in-out 0.8s;

  cursor: pointer;
}

// END vid
// advantages
.advantages {
  padding-top: 94px;

  @media screen and (max-width:1449px) {
    padding-top: 50px;
  }

  @media screen and (max-width:992px) {
    padding-top: 25px;
  }
}

.advantages__title {
  padding: 0 300px;
  margin-bottom: 62px;

  text-align: center;

  @media screen and (max-width:992px) {
    padding: 0;
    margin-bottom: 30px;
  }
}

.advantages__subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: rem(24px);
  line-height: 50px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (max-width:1449px) {
    margin-bottom: 0;
    font-size: rem(20px);
    letter-spacing: normal;
  }

  @media screen and (max-width:992px) {}
}

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: stretch;

  @media screen and (max-width:992px) {
    flex-direction: column-reverse;
  }
}

.advantages__item {
  position: relative;
  padding: 56px 54px 0 60px;
  margin: 0 16.5px 72px;
  width: 543px;
  border-radius: 10px;

  @media screen and (max-width:1449px) {
    width: 455px;
    margin: 0 10px 30px;
  }

  @media screen and (max-width:992px) {
    padding: 30px 30px 0 30px;
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.advantages__item--no {
  border: 3px solid #e7d8d0;
}

.advantages__item--no::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 75px;
  margin: auto;
  left: 0;
  right: 0;
  top: -35px;

  background: url("../img/bg/bg-advantages-no.webp") no-repeat 50% 50%;

  @media screen and (max-width:992px) {
    width: 35px;
    height: 35px;
    top: -15px;
    background-size: contain;
  }
}

.advantages__item--no .advantages__subtitle {
  color: inherit;
}

.advantages__item--yes {
  padding: 56px 54px 0 105px;
  color: #ffffff;
  background: url("../img/bg/bg-advantages-02.webp") no-repeat 50% 50%;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  background-color: #a69999;
  background-size: 300%;

  @media screen and (max-width:1449px) {
    padding: 56px 54px 0 60px;
  }

  @media screen and (max-width:992px) {
    padding: 30px;
  }
}

.advantages__item--yes::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 75px;
  margin: auto;
  left: 0;
  right: 0;
  top: -35px;

  background: url("../img/bg/bg-advantages-yes.webp") no-repeat 50% 50%;

  @media screen and (max-width:992px) {
    width: 35px;
    height: 35px;
    top: -15px;
    background-size: contain;
  }
}

.advantages__text {
  position: relative;
  padding-left: 30px;
  margin-bottom: 18px;

  @media screen and (max-width:1449px) {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  @media screen and (max-width:992px) {}
}

.advantages__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a69999;
}

.advantages__item--yes .advantages__text::before {
  background-color: #e7ca8e;
}

.advantages__btn {
  margin-top: 28px;

  @media screen and (max-width:1449px) {
    margin-top: 0;
  }

  @media screen and (max-width:575px) {
    margin-bottom: 20px;
  }
}

.advantages__blockquote {
  position: relative;
  padding: 55px 168px 54px 145px;
  margin-left: 101.5px;
  margin-right: 101.5px;
  margin-bottom: 50px;

  font-family: "BerlingskeSerif", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: rem(18px);
  line-height: 30px;

  text-align: center;

  border-radius: 10px;

  background: url("../img/bg/bg-advantages-03.webp") left no-repeat,
    url("../img/bg/bg-advantages-04.webp") right no-repeat;
  background-color: #ffffff;

  @media screen and (max-width:1449px) {
    padding: 30px 90px 30px 90px;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (max-width:575px) {
    padding: 10px 15px;
    background: unset;
    background-color: #ffffff;
  }
}

.advantages__blockquote::after {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -26px;
  content: "";
  width: 75px;
  height: 55px;
  background: url("../img/bg/bg-blockquote.webp") no-repeat 50% 50%;

  @media screen and (max-width:992px) {
    bottom: -17px;
    width: 55px;
    height: 35px;
    background-size: contain;
  }

  @media screen and (max-width:575px) {
    width: 45px;
    height: 25px;
    background-size: contain;
  }
}

.advantages__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 101.5px;
  margin-right: -50px;

  @media screen and (max-width:1449px) {
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (max-width:575px) {
    flex-direction: column;
  }
}

.advantages__qestion .title {
  margin-right: -120px;
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;

  @media screen and (max-width:1449px) {
    margin-bottom: 30px;
    margin-right: -100px;
    font-size: 34px;
    line-height: 120%;
  }

  @media screen and (max-width:575px) {
    margin-right: 0;
    font-size: 28px;
    text-align: center;
  }
}

.advantages__img {
  width: 60%;

  @media screen and (max-width:575px) {
    width: auto;
  }
}

// END advantages 
// response
.response {
  position: relative;
  padding: 130px 0 0;
  margin-top: -7px;
  background: url("../img/bg/bg-response-01.webp") top, url("../img/bg/bg-prices-01.webp") bottom;
  background-color: #18273f;
  background-repeat: no-repeat;

  @media screen and (max-width:1449px) {
    padding: 50px 0 0;
    background-size: contain;
  }

  @media screen and (max-width:575px) {
    padding: 35px 0 0;
    margin-top: 0;
  }
}

.response__title {
  margin-bottom: 47px;
  font-weight: 500;
  font-size: rem(44px);
  line-height: 50px;

  text-align: center;

  color: #ffffff;

  @media screen and (max-width:1449px) {
    margin-bottom: 30px;
    font-size: rem(36px);
  }

  @media screen and (max-width:575px) {
    font-size: rem(28px);
    line-height: 120%;
    margin-bottom: 30px;
  }
}

.response__subtitle {
  padding: 0 315px;
  margin-bottom: 37px;
  color: #ffffff;
  font-size: rem(24px);
  line-height: 30px;

  text-align: center;

  @media screen and (max-width:1449px) {
    padding: 0 100px;
    margin-top: -25px;
    margin-bottom: 30px;
    font-size: rem(20px);
    line-height: 130%;
  }

  @media screen and (max-width:575px) {
    padding: 0;
    font-size: 16px;
  }
}

.response__prev,
.response__next {
  position: absolute;
  top: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

  font-size: 0;
  border-radius: 50%;
  background-color: #ffffff;

  svg {
    stroke: #debb6b;
  }

  @media screen and (max-width:1449px) {
    top: 245px;
  }

  @media screen and (max-width:992px) {
    width: 50px;
    height: 50px;
    top: 18%;
  }

  @media screen and (max-width:575px) {
    top: 15%;
  }
}

.response__prev {
  left: 345px;

  @media screen and (max-width:1880px) {
    left: 255px;
  }

  @media screen and (max-width:1449px) {
    left: 195px;
  }

  @media screen and (max-width:992px) {
    left: 25px;
  }
}

.response__next {
  right: 345px;

  @media screen and (max-width:1880px) {
    right: 255px;
  }

  @media screen and (max-width:1449px) {
    right: 195px;
  }

  @media screen and (max-width:992px) {
    right: 25px;
  }
}

.response__prev:hover,
.response__next:hover {
  cursor: pointer;
  background: linear-gradient(127.51deg, #ffda78 2.72%, #c6a461 89.14%);
  transition: ease-in-out 0.5s;

  svg {
    stroke: #ffffff;
    transition: ease-in-out 0.5s;
  }
}

.response__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @media screen and (max-width:1449px) {
    margin-bottom: 0;
  }

  @media screen and (max-width:992px) {
    flex-direction: column;
  }
}

.response__item {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 25px 57px 25px 97px;
  margin-bottom: 20px;
  max-width: 650px;
  min-height: 156px;

  background: #f4efe4;
  border-radius: 10px;

  @media screen and (max-width:1449px) {
    padding: 10px 35px 10px 75px;
  }

  @media screen and (max-width:992px) {
    max-width: unset;
    width: 100%;
  }

  @media screen and (max-width:575px) {
    padding: 10px 10px 10px 60px;
  }
}

.response__num {
  display: block;
  position: absolute;
  bottom: 42px;
  right: 0;

  color: #ffffff;
  font-family: "BerlingskeSerif", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: rem(144px);

  opacity: 0.8;

  @media screen and (max-width:1449px) {
    font-size: rem(90px);
    bottom: 19px;
  }
}

.response__paragraph {
  span {
    font-weight: 600;
  }

  @media screen and (max-width:575px) {
    font-size: 16px;
  }
}

.response__decor {
  position: absolute;
  left: 0;

  @media screen and (max-width:575px) {
    transform: scale(0.85);
    left: -5px;
  }
}

.response__col {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  @media screen and (max-width:992px) {
    margin-right: 0;
  }
}

.response__col--marg {
  margin-right: 0;
}

// END response
// prices
.prices__title {
  padding: 0 220px;
  margin-bottom: 36px;
  color: #ffffff;
  font-weight: 500;
  font-size: rem(36px);
  line-height: 48px;

  text-align: center;

  @media screen and (max-width:1449px) {
    padding: 0 120px;
    margin-bottom: 20px;

    font-size: rem(32px);
    line-height: 120%;
  }

  @media screen and (max-width:992px) {
    padding: 0;
  }

  @media screen and (max-width:575px) {
    font-size: 28px;
  }

}

.prices__subtitle {
  padding: 0 290px;
  margin-bottom: 50px;

  color: #ffffff;
  font-size: rem(18px);
  line-height: 130%;
  text-align: center;

  @media screen and (max-width:1449px) {
    padding: 0 120px;
    margin-bottom: 30px;
  }

  @media screen and (max-width:992px) {
    padding: 0;
  }

  @media screen and (max-width:575px) {
    font-size: 16px;
  }
}

.prices__list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 50px;

  @media screen and (max-width:1449px) {
    margin-bottom: 30px;
  }

  @media screen and (max-width:992px) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.prices__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px 60px 60px;
  margin-right: 30px;
  max-width: 420px;

  background: #f4efe3;
  border-radius: 10px;

  @media screen and (max-width:1449px) {
    padding: 25px 20px 25px 30px;
  }

  @media screen and (max-width:992px) {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: unset;
    width: 100%;
  }

  @media screen and (max-width:575px) {
    padding: 15px;
  }
}

.prices__item:last-child {
  margin-right: 0;
}

.prices__name {
  color: #000000;
  font-weight: 600;
  font-size: rem(24px);
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (max-width:1449px) {
    font-size: rem(20px);
    letter-spacing: normal;
  }
}

.prices__cost {
  margin-bottom: 20px;
  color: #b3b3b3;
  font-weight: 500;
  font-size: rem(16px);
  line-height: 24px;

  text-align: center;

  @media screen and (max-width:1449px) {
    margin-bottom: 15px;
  }
}

.prices__content {
  position: relative;
  padding-left: 30px;
  margin-bottom: 18px;
  color: #000000;
  font-size: 16px;
  line-height: 22px;

  @media screen and (max-width:1449px) {
    margin-bottom: 10px;
  }
}

.prices__content::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 8px;

  background: linear-gradient(127.51deg, #ffd566 2.72%, #e7b758 89.14%);
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.prices__content--plus::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "+";
  color: #ffffff;

  font-size: 16px;
  width: 18px;
  height: 18px;
  left: 0;
  top: 4px;

  background: linear-gradient(127.51deg, #ffd566 2.72%, #e7b758 89.14%);
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.prices__inner {
  margin-bottom: 35px;

  @media screen and (max-width:992px) {
    margin-bottom: 0;
  }
}

// END prices 
// overall
.overall__list {
  display: flex;
  justify-content: center;
  padding: 0 120px 130px;

  @media screen and (max-width:1449px) {
    padding: 0 0 45px;
  }

  @media screen and (max-width:1285px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 200px 110px 200px;
  }

  @media screen and (max-width:992px) {
    padding: 0 0 110px 0;
  }
}

.overall__item {
  display: flex;
  align-items: center;
  margin: 0 35px;
  min-width: 399px;
  color: #ffffff;

  @media screen and (max-width:1285px) {
    margin: 0 0 30px 0;
  }

  @media screen and (max-width:992px) {
    margin: 0 0 20px 0;
    min-width: unset;
    max-width: 80%;
  }

  @media screen and (max-width:575px) {
    margin: 0 0 10px 0;
    max-width: 100%;
  }
}

.overall__img {
  margin-right: 40px;

  @media screen and (max-width:992px) {
    margin-right: 0;
    transform: scale(0.5);
  }
}

// END overall
// tests
.tests {
  padding-top: 50px;
  padding-bottom: 100px;

  @media screen and (max-width:1449px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media screen and (max-width:992px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.tests__title {
  padding: 0 125px;
  margin-bottom: 23px;
  font-size: rem(48px);
  font-weight: 500;
  line-height: 55px;
  text-align: center;

  @media screen and (max-width:1449px) {
    font-size: rem(32px);
    line-height: 120%;
  }

  @media screen and (max-width:992px) {
    font-size: rem(28px);
    font-weight: 500;
    padding: 0;
  }
}

.tests__subtitle {
  padding: 0 300px;
  margin-bottom: 40px;

  color: #454545;
  font-size: rem(24px);
  line-height: 130%;

  text-align: center;

  @media screen and (max-width:1449px) {
    padding: 0 100px;
    line-height: 120%;
  }

  @media screen and (max-width:992px) {
    font-size: rem(18px);
    padding: 0;
  }

  @media screen and (max-width:575px) {
    font-size: 16px;
  }
}

.tests__wrapper {
  display: flex;
  justify-content: space-between;
  background: url("../img/bg/bg-tests-01.webp") right bottom;
  background-repeat: no-repeat;

  @media screen and (max-width:1449px) {
    background-size: contain;
  }

  @media screen and (max-width:992px) {
    flex-direction: column;
    background: none;
  }
}

.tests__item {
  position: relative;
  padding: 32px 52px 40px 82px;
  margin-bottom: 14px;
  max-width: 640px;

  box-shadow: 0 4px 0 #f8f5ed;
  border-radius: 10px;
  background-color: #ffffff;

  @media screen and (max-width:1449px) {
    padding: 25px 20px 20px 30px;
  }

  @media screen and (max-width:992px) {
    padding: 20px 20px 20px 25px;
    max-width: unset;
  }
}

.tests__item::before {
  position: absolute;
  content: "";
  width: 62px;
  height: 62px;
  margin: auto;
  left: -30px;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  background: url("../img/bg/bg-advantages-yes.webp") no-repeat 50% 50%;

  @media screen and (max-width:1449px) {
    left: -20px;
    width: 42px;
    height: 42px;
    background-size: contain;
  }

  @media screen and (max-width:992px) {
    left: -16px;
    width: 32px;
    height: 32px;
  }
}

.tests__col--btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;

  @media screen and (max-width:992px) {
    width: 100%;
  }
}

.tests__welcome {
  padding: 0 200px;
  margin-bottom: 14px;

  font-family: "BerlingskeSerif", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: rem(24px);
  line-height: 36px;

  text-align: center;

  @media screen and (max-width:1449px) {
    padding: 0 100px;
  }

  @media screen and (max-width:575px) {
    padding: 0 50px;
  }
}

.tests__btn {
  margin-bottom: 27px;
  width: 310px;
}

// END tests
// slogan
.slogan {
  padding: 120px 0 139px 0;

  background: url("../img/bg/dec-bottom-01.webp") no-repeat 50% 50%;
  background-color: #18273f;

  @media screen and (max-width:1449px) {
    padding: 80px 0 80px 0;
    background: url("../img/bg/dec-bottom-01.webp") no-repeat 50%;
    background-color: #18273f;
    background-size: auto;
  }

  @media screen and (max-width:992px) {
    padding: 40px 0 40px 0;
  }
}

.slogan__title {
  margin-bottom: 50px;
  color: #ffffff;
  font-weight: 500;

  @media screen and (max-width:575px) {
    text-align: center;
  }
}

.slogan__col {
  width: 50%;

  @media screen and (max-width:992px) {
    width: 78%;
  }

  @media screen and (max-width:575px) {
    width: 100%;
  }
}

// END slogan
// social
.social__list {
  display: flex;
  justify-content: space-between;
}

.social__item {
  margin: 0 12px;
}

.social__item:last-child {
  margin-right: 0;

  @media screen and (max-width:992px) {
    margin-right: 12px;
  }
}

.social__link {
  font-size: 0;

  svg {
    fill: #bc9e5f;
  }
}

.social__link:hover {
  svg {
    fill: #18273f;
    transition: ease-in-out 0.3s;
  }
}

// END social